.axis-label {
    font-size: x-large;
    fill: gray;
}
.ylabel {
    font-size: x-large;
    fill: gray;
}
.ticktext {
    font-size: 16px;
    color: gray;
  }
  .tickline {
    color: gray;
  }

.chart-line {
  fill: none;
  stroke: #517390;
  stroke-width: 2px;
}